<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAA_U4dfcfv2TZRyjYWacEFabvJ3Q4oCzA</string>
	<key>GCM_SENDER_ID</key>
	<string>283327849519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNotificationProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-notification-project-62293</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notification-project-62293.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283327849519:ios:44615eac487dfa119712da</string>
</dict>
</plist>